
@model ListaCompetenciaViewModel
@using System.Web

<table class="table">
   <thead>
    <tr>
      @{
        List<string> classColorsList = new List<string>{"table-primary","table-secondary","table-success","table-danger","table-warning","table-info"};
        
        foreach(var item in Model.Competencias.Zip(classColorsList,(a,b) => new {A = a, B = b}))
        {
                <th class=@item.B scope="col">@item.A.ColunaBloom</th>
        } 
      }
    </tr>
   </thead>
   <tbody>
    <tr>
      @{ 
        List<List<Competencia>> partes = new List<List<Competencia>>();
        int tamanho = 6;
        //cria partes de 6 em 6
        for (int i = 0; i < Model.Competencias.Count; i += tamanho)
        {
          partes.Add(Model.Competencias.Skip(i).Take(tamanho).ToList());
        } 
        foreach(var parte in partes)
        {
          <tr>
          @foreach(var item in parte.Zip(classColorsList,(a,b) => new {A = a, B = b}))
          {
            <td class=@item.B scope="col">@item.A.LinhaBloom</td>    
          } 
        </tr>
        }
        
      }
    </tr>
    
   </tbody>
 
</table>

<div class="text-center">  
  <h1 class="display-4">Taxonomia de Bloom</h1>
</div>

<div>
  <form method="post">
    Digite o verbo <input type="text" id="verbo" name="verbo">
    <select class="form-select" aria-label="Default select example" name="colunaBloom">
    <option selected>Selecione o verbo</option>
    @{
          HashSet<string> listaColunaBloom = new HashSet<string>();
          foreach(var item in Model.Competencias)
          {
            listaColunaBloom.Add(item.ColunaBloom);
          }
          var i=1;
          foreach(var item in listaColunaBloom)
          {
            <option value=@i>@item</option>
            i++;
          }
      }
    
    </select>

    <div>
      <button type="submit">Cadastrar</button>
    </div> 
  </form>
</div>










  